<html>
        <head>
                <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/app.css">
        </head>
        <body>
            <h1 class="jumbotron">Event Management</h1>
            <div class= "container">
            <div class="jumbotron">
                <form action="/delete" method="POST">
                <div class="form-group">
                        <label for="Id">Event Id:</label>
                        <textarea type="paragraph_text" class="form-control" id="Id" placeholder="event id" name="event_id"></textarea>
                </div>
                <button type="submit" class="container btn btn-danger" > Submit</button>
            </form>
            </div>
        </div>
              <script src="/jQuery.js"></script>
              <script src="/bootstrap.min.js"></script>
              
        </body>
    </html>